
  <%= @user.fname %>
  <%= @user.lname %>
  <%= @user.username %>
  <%= @user.dob %>
  <%= @user.city %>

  <% @user.posts.each do |post| %>
  <div class="post">
   <h2> <%= post.title %> </h2>
   <h3> <%= post.body %> </h3>
  <% end %>
  </div>

  <%= link_to "Delete Account", user_path(@user.id), method: :delete %>


  <h1>Create new posts here</h1>
  <%= form_for @post do |p| %>
  <%= p.text_field :title %> 
  <%= p.text_field :body %>
  </br>
  <%= p.submit :post %>
  <% end %>


