<div class="profile">
  <div id="names">
    <span><strong>First name:</strong></span>
    <%= @user.fname %>
    <span><strong>Last name:</strong></span>
    <%= @user.lname %>
    <br>
    <%= @user.username %>
    <%= @user.dob %>
    <%= @user.city %>
  </div>
</div>

<div class="new_post">
  <h1>Create new posts here</h1>
  <%= form_for @post do |p| %>
      <%= p.text_field :title, placeholder:"title", maxLength: 15  %> 
      <br>
      <%= p.text_area :body, placeholder:"blah-blah-blah", id:"body",rows: 6, cols: 10%>   
  </br>
  <div id="submit">   
    <%= p.submit :post %>
  </div>
  <% end %>
</div>
  <div class="post">
  <% @user.posts.each do |post| %>
   <h3> <%= post.title %> </h3>
   <div id="border"></div>
   <p> <%= post.body %> </p>
  <% end %>
  </div>

  <%= link_to "Delete Account", user_path(@user.id), method: :delete %>

</div>



