
   <% @posts.order(created_at: :desc).each do |post| %>
  <div class="post_comment">
    <div class="post">
    <h3> <%= post.title %> </h3>
    <div id="border"></div>
    <p> <%= post.body %> </p>
    <p id="by"> Posted by:
      <%= link_to post.user.fname, user_path(post.user_id) %>
      <span>at</span>
      <%= post.created_at.to_s(:long) %>
    </p>
     </div>
    <div class="comment">
      <% if current_user %>
        <%= form_for Comment.new do |f| %>
        <%= f.label :comment? %> </br>
        <%= f.text_area :comment%>
        <%= f.hidden_field :post_id, value: post.id %>
          </br>
        <%= f.submit :submit %>
      <% end %>  
      <% end %>
      <% post.comments.each do |comment| %>
        <p>
         <%= comment.comment %>
        </p>
      <% end %>

    </div>
  </div>







<% end %>

